{{>header-navbar}}
{{> messages}}
<a class="dashboard-block">
    <div class="header">
        <h3>Dashboard</h3>
    </div>
</a>
<div class="line-break"></div>

<div class="expeditions-block">
    <h3 class="header">Your interplanetary expeditions:</h3>
    <table>
        {{!-- GENERATE EXPEDITIONS HERE --}}
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Rocket</th>
            </tr>
        </thead>
        <tbody>
            {{#each flights }}
            <tr>
                <td>{{ dataValues.flightNumber }}</td>
                <td>{{ dataValues.Planet.dataValues.name }}</td>
                <td>{{ dataValues.timestamp }}</td>
                <td>{{ dataValues.Rocket.dataValues.name }}</td>
                {{!-- <td>{{ @root.Rocket.name }}</td> --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>

<div class="menu-block">
    <a href="/expedition"><button>Explore the uncharted territories</button></a>
</div>