{{>header-navbar}}
{{> messages}}
<a href="/logout">
    <div class="logout-button">Logout</div>
</a>
<div class="dashboard-block">
    <div class="header">
        <h3>Dashboard</h3>
    </div>
    <div class="line-break"></div>
</div>

<div class="expeditions-block">
    <h3 class="header">Your interplanetary expeditions:</h3>
    <table>
        {{!-- GENERATE EXPEDITIONS HERE --}}
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Destination</th>
                <th>Date</th>
                <th>Rocket</th>
            </tr>
        </thead>
        <tbody>
            {{#each flights }}
            <tr>
                <td>{{ dataValues.flightNumber }}</td>
                <td>{{ dataValues.Planet.dataValues.name }}</td>
                <td>{{ dataValues.timestamp }}</td>
                <td>{{ dataValues.Rocket.dataValues.name }}</td>
                {{!-- <td>{{ @root.Rocket.name }}</td> --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div class="menu-block">
        <a href="/expedition"><button id="undefinedReally" class="login-signup-button"></button></a>
    </div>
</div>
<script>
    document.querySelector("#undefinedReally").innerText = `Explore the ${String(undefined)}`;
</script>